<!--
Copyright 2021-2022 Scott Feldman (sfeldma@gmail.com). All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. 
-->

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css"
			href="/{{.Id}}/assets/css/{{.Model}}.css">

	</head>

	<body>

		<div class="columns">
			<div class="labels-hidden" id="lables">
				<pre>Id:</pre>
				<pre>Model:</pre>
				<pre>Name:</pre>
				<pre>Uptime:</pre>
			</div>
			<div class="data">
				<pre id="id"></pre>
				<pre id="model"></pre>
				<pre id="name"></pre>
				<pre id="uptime"></pre>
			</div>
		</div>

		<img class="raspi" id="raspi" style="visibility: hidden;"
			src="/{{.Id}}/assets/images/led-gpio17-off.png">
		<button class="pause" id="pause" type="button"
			style="visibility: hidden;" onclick="pause()">Pause</button>

		<script src="/{{.Id}}/assets/js/{{.Model}}.js"></script>

		<script>Run({{.Scheme}}, {{.Host}}, {{.Id}})</script>

	</body>

</html>
