<!--
Copyright 2021 Scott Feldman (sfeldma@gmail.com). All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. 
-->

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1">

		<title>{{.Name}}</title>

		<link rel="stylesheet" type="text/css"
				       href="/web/css/{{.Model}}.css">

	</head>

	<body>
		
		<div class="flex-container">
			<div class="things" id="things"></div>
			<iframe class="thing" id="thing"></iframe>
		</div>

		<script src="/web/js/{{.Model}}.js"></script>
		<script>Run({{.Scheme}}, {{.Host}}, {{.Id}})</script>

	</body>

</html>
