body {
	max-width: 500px;
}

.columns {
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: column;
}

.labels-hidden {
	flex: 0 0 140px;
	visibility: hidden;
}

.labels {
	flex: 0 0 140px;
}

.data {
	flex: 1;
}
