body {
	background-color: orange
}

.column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.row1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.row1 > div {
	width: 100px;
	height: 200px;
	margin: 10px;
	border: 2px solid grey;
	border-radius: 10px;
	background-color: lightgrey;
	text-align: center;
}

.row2 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.row2 > div {
	width: 350px;
	height: 50px;
	margin: 10px;
	border: 2px solid grey;
	border-radius: 10px;
	background-color: lightgrey;
	text-align: center;
}
